#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  color: rgb(220, 100, 50);
  position: absolute;
  font-size: 2rem;
  top: 70%;
  left: 10%;
  letter-spacing: 21px;
  text-shadow:
  -0.2px -0.2px 0 #000,
  0.2px -0.2px 0 #000,
  -0.2px 0.2px 0 #000,
  0.2px 0.2px 0 #000;;
}

button {
    background-color: rgb(220, 100, 50);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 45%;
}
